<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Girişi</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <h2>Giriş Formu</h2>
    <br>
    <div class="login">
        <form id="login">
            <label>
                <b>
                    Kullanıcı Adı
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label>
                <b>
                    Şifre
                </b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="button" name="log" id="log" value="Log In Here">
            <br><br>
            <input type="checkbox" id="check">
            <span>Beni Hatırla</span>
            <br><br>
            Şifreni <a href="#">Unuttuysan</a>
        </form>
    </div>
</body>
</html>