@model GokalpLogistics.UI.Models.RequestModels.Drivers.DriverLoginVM

@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <title>Sürücü ve Yönetici girişi</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/loginFromDesign/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
        <form asp-action="Index" asp-controller="Login" method="post">
            <h1>Sürücü ve Yönetici girişi</h1>
            <div class="content">
                <div class="input-field">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Username" type="text" placeholder="Kullanıcı Adı" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input asp-for="Password" type="password" placeholder="Şifre" autocomplete="new-password">
                </div>
                <a href="#" class="link">Şifreni mi unuttun</a>
            </div>
            <div class="action">
                <button>yöneticiye ulaş</button>
                <button>Giriş yap</button>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script src="~/loginFromDesign/script.js"></script>

</body>